body {
    color: white
}

#hud {
    display: flex;
    justify-content: left;
}

.question {
    font-size: 2.5vw;
    margin-bottom: 40px;
}

#Question-box {
    padding-top: 15px;
}

#progressText {
    font-size: 4vw;
    text-align: left;
    margin-bottom: 40px;
}

.timer {
    font-size: 3vw;
    
}


